<aside id="bottom-drawer">
	<div id="station-creator" class="hidden">
		<div id="station-chooser" class="chooser">
		Station Type<br>
			<input type="radio" name="station-chooser" value="depot">Depot<br>
			<input type="radio" name="station-chooser" value="station">Station<br>
			<input type="radio" name="station-chooser" value="terminal">Terminal
			
		</div>
		<div id="range-chooser" class="chooser">
		Range<br>
			<input type="radio" name="range-chooser" value="1">1<br>
			<input type="radio" name="range-chooser" value="2">2<br>
			<input type="radio" name="range-chooser" value="3">3<br>
		</div>
		<div id="sidings-chooser" class="chooser">
		Sidings<br>
			<input type="radio" name="sidings-chooser" value="2">2<br>
			<input type="radio" name="sidings-chooser" value="4">4<br>
			<input type="radio" name="sidings-chooser" value="6">6<br>
		</div>
	</div>
</aside>