<aside id="side-menu">
  <!-- this can be replaced or you can add the map inside, but we need to keep the minimap id for height and width -->
  <section id="minimap">
    <div id="replace-with-map"></div>
  </section>
  <section id="cash">
    <div id="replace-with-cash-html"></div>
  </section>
  <section id="date">
    <div id="replace-with-date-html"></div>
  </section>
  <section id="trains-and-stations">
    <div id="replace-with-trains-tabs-html"></div>
  </section>
</aside>