<nav class="top-menu">
	<ul>
		<li><a href="#game">Game</a></li>
		<li><a href="#displays">Displays</a></li>
		<li><a href="#reports">Reports</a></li>
		<li><a href="#build">Build</a></li>
		<li><a href="#action">Action</a></li>
	</ul>
</nav>